.subline {
  background: var(--ifm-color-gray-200);
  padding: 20px;
  font-size: 1.2rem;
  font-style: italic;
  margin-bottom: calc(
    var(--ifm-h1-vertical-rhythm-bottom) * var(--ifm-leading)
  );
}

[data-theme="dark"] .subline {
  background: var(--ifm-color-gray-800);
}
